footer {
    text-align: center;
    padding: -5px;
    background-color: #2c2b2b;
    /* height: 22px; */
    margin-bottom: -5px
}

.social-media{
  margin-top: -19px;
  color: white;
  display: inline-block;
  padding: 0px 20px;
  font-size: 35px;
  color: rgb(210, 200, 200);
}

footer h2{
  color: white;
  margin-top: -19px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {

}

.social-media a:hover {
  color: white;
}
